<div class="card text-white bg-secondary mb-3 devise-form">
  <div class="card-header">
    <h2>Description: </h2>
  </div>
  <div class="card-body">
    <p>
      <%= image_tag @photo.image.url %>
      <strong>Info: </strong><%= @photo.description %>
      <br>
      <strong>Owner: </strong><%= @photo.user.email %>
    </p>
    <%= link_to 'Back', photos_path %>

    <% if @photo.user == current_user %> |
      <%= link_to 'Edit', edit_photo_path(@photo) %>
    <% end %>

  </div>
</div>
